doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='Description', content='Phoenix\'s Personal Website')
    link(rel='stylesheet', type='text/css', href='scss/index.scss')
    include links.pug
    include ogp.pug

    title Fluttershub.com
  body
    .container
      .pod
        .glow
          img#profile_pic(src='assets/profile_pic.png', alt='')
        h1.welcome_text.text-flicker.text-flicker-1 Phoenix/Hotaru
        p.about_me.standard_text.text-box-glow
        .pod
          a.standard_text.text-flicker-2(href="https://steamcommunity.com/id/phoenix_owo") Steam
          a.standard_text.text-flicker-2(href="https://twitter.com/HotaruBlaze") Twitter
          a.standard_text.text-flicker-2(href="https://github.com/HotaruBlaze") Github
          a.standard_text.text-flicker-2(href="https://gitlab.com/HotaruBlaze") Gitlab
          a.standard_text.text-flicker-2(href="mailto:hotarublaze@gmail.com") Email
        footer.standard_text.footer-slide
          .creator
            a.build_text(href="https://www.youtube.com/watch?v=5DWFZhAVI3s") Cookie?
              a.cookie(href="https://img.fluttershub.com/pdDK7pdVJZU3d9UI.jpg") 🍪
