meta(property='og:url', content='https://fluttershub.com')
meta(property='og:type', content='website')
meta(property='og:title', content='Phoenix\'s Personal Website')
meta(property='og:description', content='We got cookies and milk!')
meta(property='og:image', content='http://s3.fluttershub.com/fluttershub-com/public/profile_pic.png')
meta(property='og:image:secure_url', content='https://s3.fluttershub.com/fluttershub-com/public/profile_pic.png')
